.auth-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f8f8fb;

    &__form {
        background: white;
        padding: 8rem;

        h1 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 4rem;
        }

        Input {
            margin-bottom: 1.6rem;
        }

        button {
            color: white;
            background: linear-gradient(
                94.7deg,
                #da3d78 -18.96%,
                #ba0bdd 122.29%
            );
        }
    }
}
