.main-page {
    width: 100%;
    min-height: 90vh;

    &__container {
        display: flex;
        flex-direction: column;
        background-color: greenyellow;
    }

    &__info-container {
        display: flex;
        background-color: aquamarine;
    }

    &__map-container {
        display: flex;
        justify-content: space-between;
    }

    &__map {
        img {
            width: 60vw;
            height: 61vh;
        }
    }

    &__form {
        width: 18vw;
        background-color: rgb(208, 214, 200);
    }
}
