$menu-width: 15%;

.app {
    &__sidebar {
        position: fixed;
        height: 100%;
        width: $menu-width;
        margin: 0px;

        background: lightblue;
        border-radius: 7px;
    }

    &__wrapper {
        width: 100%-$menu-width;
        float: right;

        background: aquamarine;
    }

    header {
        position: fixed;

        height: 100px;

        background: lightSalmon;
        border-radius: 7px;
    }

    &__content-box {
        margin-top: 100px;
        display: flex;
        flex-flow: row wrap;
        height: 400px;
        order: 1;
        flex: 0 1 100%;
    }
}
