.toolbar {
    display: flex;
    justify-content: space-between;

    &__search {
        display: flex;
        align-items: center;
        img {
            margin-right: 1.3rem;
        }

        span {
            color: #a6acbe;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        & > *:not(:last-child) {
            padding-right: 3rem;
        }

        img {
            height: 90%;
        }

        &-item {
            display: flex;
            align-items: center;

            & > :first-child {
                padding-right: 1.4rem;
            }
        }
    }
}
