@mixin font-totals-title {
    font-family: GilroyMedium;
    font-style: normal;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    color: black;
}

@mixin font-totals-subtitle {
    font-family: GilroyMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.01em;
    color: #a6acbe;
}

.main-page-info-block {
    border-radius: 10px;
    background-color: white;
    padding: 3.5rem 4rem;
    max-height: 14rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    img {
        height: 7rem;
        width: 7rem;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        p:first-child {
            @include font-totals-title;
        }

        p:last-child {
            @include font-totals-subtitle;
        }
    }
}
