@mixin font-totals-title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

@mixin font-totals-subtitle {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
}

.main-page-info-block {
    height: 14vh;
    width: 18vw;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        align-items: center;
    }

    &__icon {
        object-fit: contain;
        align-self: flex-start;
        margin-right: 3rem;
    }

    &__text {
        flex: 1 1 auto;

        &-title {
            @include font-totals-title();
        }

        &-subtitle {
            @include font-totals-subtitle();
        }
    }
}
