@mixin font-menu-item {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

@mixin font-menu-logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 139.2%;
    color: white;
}

.menu {
    position: sticky;
    background: linear-gradient(to right bottom, #de4469, #b200f1);
    height: 100vh;

    padding: 4rem 3.5rem;

    &-item {
        &__delimeter {
            width: 90%;
        }

        &:first-child {
            margin-bottom: 4rem;

            img {
                width: 4rem;
                height: 4rem;
                padding-right: 2rem;
            }
        }

        &:not(:first-child) {
            margin-top: 3.5rem;

            img {
                width: 3rem;
                height: 3rem;
                padding-right: 2rem;
            }
        }

        a {
            display: flex;
            align-items: center;
        }
    }
}
